.div{
  height: 70vh;
  position: relative;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-top: 16;
  display: flex;
}

.Icon{
  
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
}

.items {
  font-size: 16px;
  display: flex;
  border-radius: none;
  align-items: center;
  &:hover {
    color:#f30066;
}
}
