@tailwind base;
@tailwind components;
@tailwind utilities;



  .goog-te-gadget-simple {
     width: 250px;
     height: 30px;
     display: flex !important;
     position: relative;
     font-size: medium;
     font-weight: bold;
       
  }
 

   .goog-te-gadget-simple span:nth-child(1) {
     
      position: absolute!important;
    
      }

  .goog-te-gadget-simple span:nth-child(2) {
   display:flex !important;
   position: absolute!important;
   left: 30px;
  
     }

  .goog-te-gadget-simple span:nth-child(3) {
   display:flex !important;
   position: absolute !important;
   left: 160px;
  
     }

     .goog-te-gadget-simple span:nth-child(5) {
      display:flex !important;
      position: absolute;
      left: 175px;
     
        }

     
  
