@tailwind base;
@tailwind components;
@tailwind utilities;

.goog-te-gadget-icon {
    display:flex;
 
  }
  
  
  .goog-te-gadget-simple {
    padding: 2px;
     width: auto;
     height: 30px;
     display: flex;
     
  }
  
 
    

    .goog-te-gadget-simple span:nth-child(3) {
        display:none;
        }

        .goog-te-gadget-simple span:nth-child(5) {
            display:none;
            }