table{
    margin-left: auto; 
    margin-right: auto;

    border-collapse: separate;

    height: 5339px;
    width: 100%;
    color: #969696;
    text-align: justify;
    font-family: lato;
    border: 10px;
    border-top: 20px;
    border-color: rgb(223, 8, 8);
    
}

.h5{
    border-collapse: separate;
    text-align: justify;font-weight: 700
}

.td149{
    border-collapse: separate;
    text-align: center; 
    border: 10px;
    border-color: black;
    width: 149px;
}