.ul {
  width: 100%;
  margin-bottom: 10dp;
  >div{position: sticky; top: 0 ; background-color: white;}


 

 
}

.items {
  font-size: 16px;
  display: flex;
  align-items: center;
  &:hover {
    color:red;
}
}

.email {
 background-color: red;
 text-align: right;
 font-size: 16px;
 color: azure;
 width: 100;
 
}

.itemsHome {
  font-size: 16px;
  display: flex;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
  
}

.div{
  height: 70vh;
  
 
 
  z-index: 10;

}



  

